body {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 1em;
}

h2 {
  font: Arial, sans-serif;
  font-size: 2em;
}

#form1 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 33%;
}

input {
  padding: 0.75rem;
  font-size: 0.75rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

.btn {
  padding: 0.75em 1em;
  display: flex;
  background-color: blue;
  color: white;
  font-size: 1em;
  border-radius: 10%;
  border: none;
}

.btn-reset {
  background-color: gray;
}

#errors {
  color: red;
}
